<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="../client/public/style.css">
    <base href='/' />
    <link
        href="https://fonts.googleapis.com/css?family=Butterfly+Kids|Cabin|Dancing+Script|Fascinate|Indie+Flower|Lobster|Nunito|Pacifico&display=swap"
        rel="stylesheet">
    <meta charset="utf-8" />
    <meta name="viewport"
        content="width=device-width, minimum-scale=1, maximum-scale=1, initial-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="image/png" href="../client/public/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="../client/public/favicon-16x16.png" sizes="16x16">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css" />

    <title>Xochy Xochy</title>
</head>

<body class="body">
    <section id="react-app"></section>
    <script type="text/javascript" src="assets/index.js"></script>

</body>

</html>